Congrats! Here is your new Drupal website:<br />
<a href="{{ webserver }}{{ sid }}">{{ webserver }}{{ sid }}</a><br />
How to access your website:<br />
1) Go to <a href="{{ webserver }}{{ sid }}">{{ webserver }}{{ sid }}</a><br />
2) Use your identikey name and password.<br />
3) Voila, you are now ready to start building your website.<br />
<br />
To request a production URL go <a href="{{ webserver }}webcentral/sites/{{ fullid }}">here</a>.
<br />
Need to add additional content editors? Click here for instructions on how to add users.
